<header
        class="bg-gradient-to-r from-blue-500 via-purple-500 to-pink-500 p-6 shadow-lg text-white flex items-center">
    <div class="flex flex-col justify-center">
        <div class="flex items-center space-x-4 mb-2">
            <img [src]="basePath + '/images/D-logo.svg'" alt="AI EXPO Taiwan Logo"
                 class="h-10 w-10 rounded-full shadow-md">
            <h1 class="text-3xl font-extrabold tracking-tight drop-shadow-lg">AI EXPO
                TAIWAN</h1>
        </div>
        <h2 class="text-sm font-semibold tracking-wide opacity-90" style="letter-spacing: 0.35em;">Exhibitor Content
            &amp; Review System</h2></div>
</header>
