@if (mainStore.isRightChangeModeEnabled()) {
    <div class="w-full flex flex-col gap-1">
        <label>異動描述列表</label>
        <div class="right-change-list">

            @for (item of mainStore.exhibition_rights().sponsorship_benefits; track item.id) {
                <div class="item">
                    <div class="cate">{{ item.cate }}</div>
                    <div class="title">{{ item.title }}</div>

                    <div
                            class="desc"
                    >異動描述：
                    </div>
                    <div class="comment">{{ item.comment }}</div>
                </div>
            }

        </div>
    </div>
}
<div class="w-full two-columns">
    <div class="w-full flex flex-col justify-start items-start gap-3 p-4 rounded-md bg-white shadow-sm">
        <div class="w-full flex flex-col gap-1">
            <label for="Media_promotion_dropdown_menu">贊助權益</label>
            <div class="border border-solid border-gray-300 rounded-md p-2 w-full min-h-[42px]">
                {{ mainStore.sponsorships() }}
            </div>
        </div>
        <div class="w-full flex flex-col gap-1">
            <label for="unsureLectureAgenda">不知講座議程</label>
            <p-multiselect
                    (ngModelChange)="mainStore.setSelectedExhibitionRights({
                    lecture: $event
                    })"
                    [ngModel]="mainStore.selected_exhibition_right().lecture"
                    [options]="mainStore.exhibition_rights().lecture"
                    dataKey="id"
                    fluid
                    id="unsureLectureAgenda"
                    optionLabel="option"
                    placeholder="請選擇"></p-multiselect>
        </div>
        <div class="w-full flex flex-col gap-1">
            <label for="Future_Stage_Agenda">未來講座議程</label>
            <p-multiselect
                    (ngModelChange)="mainStore.setSelectedExhibitionRights({
                    stage: $event
                    })"
                    [ngModel]="mainStore.selected_exhibition_right().stage"
                    [options]="mainStore.exhibition_rights().stage"
                    dataKey="id"
                    fluid
                    id="Future_Stage_Agenda"
                    optionLabel="option"
                    placeholder="請選擇"></p-multiselect>
        </div>

    </div>
    <div class="w-full flex flex-col justify-start items-start gap-3 p-4 rounded-md bg-white shadow-sm">


        <div class="w-full flex flex-col gap-1">
            <label for="Media_promotion_dropdown_menu">媒體廣宣</label>

            <p-multiselect
                    (ngModelChange)="mainStore.setSelectedExhibitionRights({
                    promotion: $event
                    })"
                    [maxSelectedLabels]="3"
                    [ngModel]="mainStore.selected_exhibition_right().promotion"
                    [options]="mainStore.exhibition_rights().promotion"
                    dataKey="id"
                    fluid
                    id="Media_promotion_dropdown_menu"
                    optionLabel="option"
                    placeholder="請選擇"></p-multiselect>
        </div>
        <div class="w-full flex flex-col gap-1">
            <label for="Add_to_cart_dropdown_menu">加購項目</label>
            <p-multiselect
                    (ngModelChange)="mainStore.setSelectedExhibitionRights({
                    optional: $event
                    })"
                    [maxSelectedLabels]="3"
                    [ngModel]="mainStore.selected_exhibition_right().optional"
                    [options]="mainStore.exhibition_rights().optional"
                    dataKey="id"
                    fluid
                    id="Add_to_cart_dropdown_menu"
                    optionLabel="option"
                    placeholder="請選擇"></p-multiselect>
        </div>
        <div class="w-full flex flex-col gap-1">
            <label for="selected_Exhibition_booth">展場攤位/樣式/格數</label>
            <div class="flex items-center gap-1">
                <p-multiselect
                        (ngModelChange)="mainStore.setSelectedExhibitionRights({
                    booth: $event
                    })"
                        [filter]="false"
                        [ngModel]="mainStore.selected_exhibition_right().booth"
                        [options]="mainStore.exhibition_rights().booth"
                        [selectionLimit]='1'
                        [showToggleAll]="false"
                        dataKey="id"
                        fluid
                        id="selected_Exhibition_booth"
                        optionLabel="option"
                        placeholder="請選擇"></p-multiselect>
                <div class="basis-2">
                    <p-select
                            (ngModelChange)="mainStore.setSelectedBoothStyle($event)"
                            (onChange)="onBoothStyleChange($event)"
                            [ngModel]="mainStore.selectedBoothStyle()"
                            [options]="mainStore.boothStyles" class="w-7.5 md:w-56"
                            fluid
                            optionLabel="name"
                            placeholder="選一個樣式"
                    />
                </div>
                <div class="w-25">
                    <p-inputnumber
                            (ngModelChange)="mainStore.setGridNumUI($event)"
                            (onInput)="onGridNumChange($event)"
                            [min]="1"
                            [ngModel]="mainStore.settled_girdNum()"
                            fluid
                            inputId="integeronly" mode="decimal"
                    ></p-inputnumber>
                </div>
            </div>
        </div>

    </div>
</div>
