<div class="w-full flex items-center flex-start mb-1 gap-[16px]">
    <p-button
            (click)="openDialog()"
            icon="pi pi-plus"
            label="新增參展廠商"
            size="small"
    ></p-button>

    <p-button
            (click)="exportExcel()"
            label="匯出審核歷程CSV"
            size="small"
    ></p-button>
</div>
<p-table
        [paginator]="true"
        [rowsPerPageOptions]="[5, 10, 20]"
        [rows]="5"
        [tableStyle]="{ 'min-width': '50rem' }"
        [value]="exhibitors()"
>
    <ng-template #header>
        <tr>
            <th style="width:12.5%">建立時間</th>
            <th style="width:12.5%">公司名稱</th>
            <th style="width:12.5%">統編</th>
            <th style="width:12.5%">議程場次</th>
            <th style="width:12.5%">展場攤位</th>
            <th style="width:12.5%">媒體廣宣</th>
            <th style="width:12.5%">加購項目</th>
            <th style="width:12.5%">
                <div class="w-full flex justify-center">專屬連結</div>
            </th>
        </tr>
    </ng-template>
    <ng-template #body let-exhibitor>
        <tr>
            <td>
                <div class="text-xs">{{ exhibitor.update_time | date: 'yyyy/MM/dd HH:mm:ss' }}</div>
            </td>
            <td>{{ exhibitor.name }}</td>
            <td>{{ exhibitor.unino }}</td>
            <td>{{ exhibitor.agenda_session }}</td>
            <td>{{ exhibitor.exhibition_booths }}</td>
            <td>
                <ul>@for (item of exhibitor.media_advertising; track item) {
                    <li class="flex items-center gap-2">
                        <i class="pi pi-circle" style="font-size: 0.5rem;"></i>
                        <div class="text-xs">{{ item }}</div>
                    </li>
                }</ul>
            </td>
            <td>
                <ul>@for (item of exhibitor.add_on_items; track item) {
                    <li class="flex items-center gap-2">
                        <i class="pi pi-circle" style="font-size: 0.5rem;"></i>
                        <div class="text-xs">{{ item }}</div>
                    </li>
                }</ul>
            </td>
            <td>
                <a
                        [href]="exhibitor.exclusive_link"
                        class="w-full flex justify-center"
                        rel="noopener"
                        target="_blank"
                >
                    <i class="pi pi-link" style="font-size: 1rem"></i>
                </a>
            </td>
        </tr>
    </ng-template>
</p-table>
