@let selected_exhibition_right = mainStore.selected_exhibition_right();

@if (!hasExhibitionRights()) {
    <div class="no-data-message">
        尚未選擇任何參展權益設定項目
    </div>
}

<div class="preview-container">

    @if (selected_exhibition_right.lecture) {
        <div class="item">
            <strong>不知講座議程:</strong>
            <span class="text-[14px]">{{ renderArrayContent(selected_exhibition_right.lecture) }}</span>
        </div>
    }
    @if (selected_exhibition_right.stage) {
        <div class="item">
            <strong>未來講座議程:</strong>
            <span class="text-[14px]">{{ renderArrayContent(selected_exhibition_right.stage) }}</span>
        </div>
    }
    @if (selected_exhibition_right.promotion && selected_exhibition_right.promotion.length > 0) {
        <div class="item">
            <strong>媒體廣宣:</strong>

            <div class="text-[14px]">{{ renderArrayContent(selected_exhibition_right.promotion) }}</div>
            <!--            <ul>-->
            <!--                @for (item of selected_exhibition_right.promotion; track item.value) {-->
            <!--                    <li>{{ item.value }}</li>-->
            <!--                }-->
            <!--            </ul>-->
        </div>
    }
    @if (selected_exhibition_right.optional && selected_exhibition_right.optional.length > 0) {
        <div class="item">
            <strong>加購項目:</strong>
            <div class="text-[14px]">{{ renderArrayContent(selected_exhibition_right.optional) }}</div>
            <!--            <ul>-->
            <!--                @for (item of selected_exhibition_right.optional; track item.value) {-->
            <!--                    <li>{{ item.value }}</li>-->
            <!--                }-->
            <!--            </ul>-->
        </div>
    }
    @if (selected_exhibition_right.booth) {
        <div class="item">
            <strong>展場攤位:</strong>
            <span class="text-[14px]">{{ renderArrayContent(selected_exhibition_right.booth) }}</span>
        </div>
    }
</div>