@let selected_exhibition_right = mainStore.selected_exhibition_right();

@if (!hasExhibitionRights()) {
    <div class="no-data-message">
        尚未選擇任何參展權益設定項目
    </div>
}
<div class="preview-container">
    @if (selected_exhibition_right.unsure_of_the_lecture_agenda) {
        <div class="item">
            <strong>不知講座議程:</strong>
            <span>{{ selected_exhibition_right.unsure_of_the_lecture_agenda.value }}</span>
        </div>
    }
    @if (selected_exhibition_right.future_Stage_Agenda) {
        <div class="item">
            <strong>未來講座議程:</strong>
            <span>{{ selected_exhibition_right.future_Stage_Agenda.value }}</span>
        </div>
    }
    @if (selected_exhibition_right.sponsorship_benefits) {
        <div class="item">
            <strong>贊助權益:</strong>
            <span>{{ selected_exhibition_right.sponsorship_benefits.value }}</span>
        </div>
    }
    @if (selected_exhibition_right.media_promotion && selected_exhibition_right.media_promotion.length > 0) {
        <div class="item">
            <strong>媒體廣宣:</strong>

            <div class="text-xs">{{ renderArrayContent(selected_exhibition_right.media_promotion) }}</div>
            <!--            <ul>-->
            <!--                @for (item of selected_exhibition_right.media_promotion; track item.value) {-->
            <!--                    <li>{{ item.value }}</li>-->
            <!--                }-->
            <!--            </ul>-->
        </div>
    }
    @if (selected_exhibition_right.add_to_cart && selected_exhibition_right.add_to_cart.length > 0) {
        <div class="item">
            <strong>加購項目:</strong>
            <div>{{ renderArrayContent(selected_exhibition_right.add_to_cart) }}</div>
            <!--            <ul>-->
            <!--                @for (item of selected_exhibition_right.add_to_cart; track item.value) {-->
            <!--                    <li>{{ item.value }}</li>-->
            <!--                }-->
            <!--            </ul>-->
        </div>
    }
    @if (selected_exhibition_right.exhibition_booth) {
        <div class="item">
            <strong>展場攤位:</strong>
            <span>{{ selected_exhibition_right.exhibition_booth.value }}</span>
        </div>
    }
</div>