<div class="card">
    <p-tabs value="0">
        <p-tablist>
            <p-tab value="0">參展廠商清單</p-tab>
            <p-tab value="1">權益異動申請需求清單</p-tab>
            <p-tab value="2">資料更新待審核清單</p-tab>
        </p-tablist>
        <p-tabpanels>
            <p-tabpanel value="0">
                <app-exhibitors/>
            </p-tabpanel>
            <p-tabpanel value="1">
                <app-rights-change-requirements/>
            </p-tabpanel>
            <p-tabpanel value="2">
                <app-document-updates-pending-review/>
            </p-tabpanel>
        </p-tabpanels>
    </p-tabs>
</div>